**/*.DS_Store
**/*.aux
*.bbl
*.bcf
*.idx
*.lof
*.log
*.lot
*.out
*.run.xml
*synctex.gz
*.toc
chapters/*.aux
chapters/*.bbl
chapters/*.bcf
chapters/*.idx
chapters/*.lof
chapters/*.log
chapters/*.lot
chapters/*.out
chapters/*.run.xml
chapters/*synctex.gz
chapters/*.toc
prefix/*.aux
suffix/*.bbl
suffix/*.blg
suffix/*.log
suffix/*.aux
tables/*.aux
tables/*.log
main.pdf
main.blg
*.blg
*.fdb_latexmk
*.blg
*.fls
*.ind
*.ilg
*.blg
