.idea/jupyter-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/UdoCluster.iml
.idea/vcs.xml
/UdoScraper/
/.idea/inspectionProfiles/profiles_settings.xml
/Scraper/testfiles/
/Scraper/testfiles/result.json
/**/__pycache__/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsonSchemas.xml
.vscode/settings.json
Scraper/testfiles/result.json
Scraper (deprecated)/UdoScraper

Visualization/udoCloud/.idea/
/**/project_secrets/*.json
test.*
/venv
/.idea