.idea/jupyter-settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/UdoCluster.iml
.idea/vcs.xml
/UdoScraper/
/.idea/inspectionProfiles/profiles_settings.xml
/Scraper/testfiles/
/Scraper/__pycache__/
/.idea/codeStyles/codeStyleConfig.xml
/.idea/jsonSchemas.xml
.vscode/settings.json
